body{}.mh{
    top: 0px;
    background-color: #000c56;
    width: 100%;
    height: 60px;
    color: #f9ca03;
text-align: center;
    font-size: 48px
position: fixed;
}
body{}.sb{
top:0px;
background-color: #000c56;
left:0px;
width: 200px;
color: #f9ca03;
    height: 100%;
font-size: 28px;
position: fixed;




}
body{}.mb{
    position: fixed;
    left: 200px;
    top:70px;
    color: #000000;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: left;
    
}
body{}.slh{
    position:fixed;
    Top: 500px;
    color: #f9ca03;
    background-color: #000c56;
    height: 100px;
    text-align: center;
    font-size: 24px;
    left: 50%;
    width: 100%;
    

}
